<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unique.org.dao.orgMapper" >
  <resultMap id="BaseResultMap" type="com.unique.reg.po.Org" >
    <id column="ORG_ID" property="orgId" jdbcType="DECIMAL" />
    <result column="ORG_TYPE_ID" property="orgTypeId" jdbcType="DECIMAL" />
    <result column="ORG_GRADE_ID" property="orgGradeId" jdbcType="DECIMAL" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="LEGAL_REP" property="legalRep" jdbcType="VARCHAR" />
    <result column="CONTACT_NAME" property="contactName" jdbcType="VARCHAR" />
    <result column="CONTACT_PHONE" property="contactPhone" jdbcType="VARCHAR" />
    <result column="FAX_PHONE" property="faxPhone" jdbcType="VARCHAR" />
    <result column="ORG_ADDR" property="orgAddr" jdbcType="VARCHAR" />
    <result column="POST_NO" property="postNo" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="DECIMAL" />
    <result column="IS_LEAF" property="isLeaf" jdbcType="VARCHAR" />
    <result column="NODE_LEVEL" property="nodeLevel" jdbcType="DECIMAL" />
    <result column="SORT_RANK" property="sortRank" jdbcType="DECIMAL" />
    <result column="SPELLING" property="spelling" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="OP_TIME" property="opTime" jdbcType="TIMESTAMP" />
    <result column="OPERATOR" property="operator" jdbcType="DECIMAL" />
    <result column="HAS_REMOTE_REG" property="hasRemoteReg" jdbcType="CHAR" />
    <result column="HOME_PAGE" property="homePage" jdbcType="VARCHAR" />
    <result column="RECOUP_WAY" property="recoupWay" jdbcType="CHAR" />
    <result column="ORG_SHORT_NAME" property="orgShortName" jdbcType="VARCHAR" />
    <result column="ORG_MSGMONEY" property="orgMsgmoney" jdbcType="CHAR" />
    <result column="HAS_EHCRM" property="hasEhcrm" jdbcType="CHAR" />
    <result column="HAS_PERIOD" property="hasPeriod" jdbcType="CHAR" />
    <result column="ORG_NATURE" property="orgNature" jdbcType="DECIMAL" />
    <result column="HAS_PERIOD" jdbcType="CHAR" property="hasPeriod" />
    <result column="PICKUP_ADDR" property="pickupAddr" jdbcType="VARCHAR" />
    
    <result column="ESB_URL" property="esbUrl" jdbcType="VARCHAR" />
    <result column="HOSPITAL_URL" property="hospitalUrl" jdbcType="VARCHAR" />
    <result column="PICKUP_TIME" property="pickupTime" jdbcType="VARCHAR" />
    <result column="TRAFFIC_ROUTES" property="trafficRoutes" jdbcType="VARCHAR" />
    <result column="MAP_POSITION" property="mapPosition" jdbcType="VARCHAR" />
    <result column="hlink_to" property="hlinkTo" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.unique.reg.po.Org" extends="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <result column="ORG_REMARK" property="orgRemark" jdbcType="CLOB" />
  </resultMap>
 
	<resultMap id="orgAllResultMap" type="com.unique.reg.po.Org"  extends="ResultMapWithBLOBs">
	    <result column="org_grade_code" property="orgGradeCode" jdbcType="VARCHAR" />
    	<result column="org_grade_name" property="orgGradeName" jdbcType="VARCHAR" />
		<result column="PICKUP_TIME" property="pickupTime" jdbcType="VARCHAR" />
		<result column="TRAFFIC_ROUTES" property="trafficRoutes" jdbcType="VARCHAR" />
		<result column="MAP_POSITION" property="mapPosition" jdbcType="VARCHAR" />
	</resultMap>
  
  <resultMap id="floorResultMap" type="com.unique.org.po.OrgFloor" >
    <id column="FLOOR_ID" property="floorId" jdbcType="DECIMAL" />
    <result column="ORG_ID" property="orgId" jdbcType="DECIMAL" />
    <result column="FLOOR_CODE" property="floorCode" jdbcType="VARCHAR" />
    <result column="FLOOR_NAME" property="floorName" jdbcType="VARCHAR" />
    <result column="FLOOR_LAYER" property="floorLayer" jdbcType="DECIMAL" />
    <result column="FLOOR_DESC" property="floorDesc" jdbcType="VARCHAR" />
    <result column="FLOOR_PIC" property="floorPic" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="OPERATOR" property="operator" jdbcType="DECIMAL" />
    <result column="OP_TIME" property="opTime" jdbcType="TIMESTAMP" />
    <result column="OPERATOR_NAME" property="operatorName" jdbcType="VARCHAR" />
  </resultMap>
	
  <sql id="Base_Column_List" >
    ORG.ORG_ID, ORG.ORG_TYPE_ID, ORG.ORG_GRADE_ID, ORG.ORG_CODE, ORG.ORG_NAME, ORG.LEGAL_REP, ORG.CONTACT_NAME, ORG.CONTACT_PHONE, 
    ORG.FAX_PHONE, ORG.ORG_ADDR, ORG.POST_NO, ORG.PARENT_ID, ORG.IS_LEAF, ORG.NODE_LEVEL, ORG.SORT_RANK, ORG.SPELLING, 
    ORG.STATUS, ORG.OP_TIME, ORG.OPERATOR, ORG.HAS_REMOTE_REG, ORG.HOME_PAGE, ORG.RECOUP_WAY, ORG.ORG_SHORT_NAME, 
    ORG.ORG_MSGMONEY, ORG.HAS_EHCRM, ORG.HAS_PERIOD, ORG.ORG_NATURE, ORG.HAS_PERIOD, ORG.PICKUP_ADDR
  </sql>
  
  <!-- u.img_use_code=sytp -->
  <select id="org_getAllOrg" resultMap="BaseResultMap" parameterType="string">
     select  <include refid="Base_Column_List" />,img.hlink_to 
     from ORG 
     left join (select c.hlink_to,c.org_id from cms_img_lib c
				 join cms_img_type_use_rel r on c.type_use_id=r.type_use_id
				 join cms_img_use u on u.img_use_id=r.img_use_id
				 join cms_img_type t on t.img_type_id=r.img_type_id
	 			where t.img_type_code='ORG_ID' and u.img_use_code=#{useCode}
     			) img
     on img.org_id=org.org_id
     where (status='C' or status='U') and org.org_type_id in (1,2,8)
     and org.org_nature= '1'
     order by org.SORT_RANK
  </select>
  
  <select id="getOrgInfo"  resultMap="orgAllResultMap" parameterType="string">
  	select org.*,
		org_grade.org_grade_code,
		org_grade.org_grade_name,
		img.hlink_to 
		from org 
  	left join org_grade on org_grade.org_grade_id = org.org_grade_id
		left join (
		    select cms_img_lib.* from 
		    cms_img_lib 
		    left join cms_img_use on cms_img_use.img_use_id = cms_img_lib.type_use_id
		    where cms_img_use.img_use_code = 'sytp' and cms_img_lib.org_id =#{orgId}
		) img
		on img.org_id = org.org_id
  	where org.org_id = #{orgId}
  </select>
  
  <select id="getOrgByCode" parameterType="string" resultMap="BaseResultMap">
  	select * from org where org.org_code = #{orgCode}
  </select>
  
  <select id="getOrgFloorByOrgId" parameterType="string" resultMap="floorResultMap">
       select * from org_floor where org_floor.org_id = #{orgId} order by org_floor.floor_layer
  </select>
  <select id="getOrgMapPositionByOrgId" parameterType="string" resultType="string">
       select map_position from org where org.org_id = #{orgId}
  </select>
  
  <!-- 通过机构分组代码获取其下所有的机构orgGroupCode -->
  <select id="getOrgByOrgGroupCode" parameterType="string" resultMap="BaseResultMap">
       select * from org where exists (
			select 1 from ORG_GROUP , ORG_GROUP_DET
			where ORG_GROUP.ORG_GROUP_ID=ORG_GROUP_DET.ORG_GROUP_ID
				  and ORG_GROUP.STATUS in ('C','U')  
				  and ORG_GROUP.ORG_GROUP_CODE=#{orgGroupCode}
				  and org.org_id = ORG_GROUP_DET.org_id
		)
  </select>

</mapper>